// 颜色
$--color-primary: #42b983;
$--color-title: #009a61;
$--color-text: #34495e;
$--color-text-second: #858585;
$--color-background: white;
$--color-code-background: #f8f8f8;
$--color-code-text: #525252;
$--color-li-text: #505d6b;
$--color-lang-mark-background: #ccc;
$--color-border: #eaecef;
$--color-emoji-active-background: #c5c5c5;

// 字体
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
$--font-size: 16px;
$--word-spacing: 1px;

// 高度
$--height-header: 60px;
